* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ms_container {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.ms_container input {
    margin: 15px 0;
    padding: 10px 30px;
    font-size: 1.2em;
    font-weight: 700;
}

.ms_risultati {
    width: 100%;
    margin-top: 20px;
}

.ms_dado_utente, 
.ms_dado_pc {
    display: inline-block;
    width: 45%;
    height: 50px;
    text-align: center;
}

.ms_error {
    color: red;
}

.ms_success {
    color: green;
}